In [5]:
# Create a DataFrame
import pandas as pd
data_df = {'Name': ['Arpit', 'Riya', 'Priyanka', 'Aman', 'Arpit', 'Rohan', 'Riya', 'Sakshi'],

           'Employment Type': ['Full-time Employee', 'Part-time Employee', 'Full-time Employee', 'Intern',
                               'Full-time Employee', 'Part-time Employee', 'unemploy', 'Full-time Employee'],

           'Department': ['Administration', 'Marketing', 'Technical', 'Marketing',
                          'Administration', 'Technical', 'Marketing', 'Administration']}

df = pd.DataFrame(data_df)
df

       Name     Employment Type      Department
0     Arpit  Full-time Employee  Administration
1      Riya  Part-time Employee       Marketing
2  Priyanka  Full-time Employee       Technical
3      Aman              Intern       Marketing
4     Arpit  Full-time Employee  Administration
5     Rohan  Part-time Employee       Technical
6      Riya            unemploy       Marketing
7    Sakshi  Full-time Employee  Administration

In [6]:
repeated_times = df['Employment Type'].value_counts()

In [7]:
repeated_times

Full-time Employee    4
Part-time Employee    2
Intern                1
unemploy              1
Name: Employment Type, dtype: int64

In [10]:
unique_index = df.drop_duplicates(subset = ["Employment Type"]).index.values

In [11]:
unique_index

array([0, 1, 3, 6])

In [12]:
# load json module
import json

# python dictionary with key value pairs
dict = {'Python' : '.py', 'C++' : '.cpp', 'Java' : '.java'}

# create json object from dictionary
json = json.dumps(dict)

# open file for writing, "w" 
f = open("dict.json","w")

# write json object to file
f.write(json)

# close file
f.close()